html,
body {
    height: 100%;
    background-color: #e9ebee;
    margin: 0px;
    font-family: Calibri;
}

.diceThrowHeader{
   border-bottom:2px solid #4267B2;
}
.diceThrowHeader table{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    alignment: center;
}
.diceThrowHeader tr td{
    width:20%;
    text-align: center;
}

/*Default dice YATZE bg*/

#resultOne .diceValue{
    background-image: url("../img/chars/y.png");
}
#resultTwo .diceValue{
    background-image: url("../img/chars/a.png");
}
#resultThree .diceValue{
    background-image: url("../img/chars/t.png");
}
#resultFour .diceValue{
    background-image: url("../img/chars/z.png");
}
#resultFive .diceValue{
    background-image: url("../img/chars/y.png");
}



#throwDice{
    background-color: white;
    color: #4267b2;
    border:2px solid  #4267b2;
    padding: 7px 80px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    float: right;
}

#throwDice:hover{
    background-color: #4267b2;
    color:white;
    border:2px solid white;
    -webkit-transition: ease-in-out 200ms;
    -moz-transition: ease-in-out 200ms;
    -ms-transition: ease-in-out 200ms;
    -o-transition: ease-in-out 200ms;
    transition: ease-in-out 200ms;
}

#throwDice:disabled{
    background: red;
    color: white;
}

#throwDice:disabled:hover{
    background: red;
    color: white;
    cursor: no-drop;
    border:2px solid #4267b2;
}

#highScore{
    float: right;
    margin-right: 10%;
    border-collapse: separate;
    border-spacing: 0 13px;
    border-left: 1px solid #4267B2;
    padding-left: 2px;
}

#scoreTable{
    margin-left: 10%;
    margin-right: 10%;
    border-collapse: separate;
    border-spacing: 0 13px;
    display: inline;
}

#scoreTable input{
    pointer-events:none;
    border-radius: 5px;
    padding: 2px;
    border-width: 1px;
    border-color: #4267B2;
    font-size: 15px;
    font-weight: bold;
    margin: 0 5px;
}

.header-field{
    background-color: #4267b2;
    font-family: Helvetica, Arial, sans-serif;
    border-bottom: #29487d 1px solid;
    font-size: 12px;
    color: #fff;
    padding:10px 0;
    position:fixed;
    width: 100%;
}

.header-field .header-content{
    width: 80%;
    margin: 0 auto;
}

.header-field .header-content #throwsLeft{
    display: inline;
    float: right;
    margin-right: 20px;
}


.diceThrowHeader{
    margin-bottom:25px;
    padding-top: 70px;
}
.throwResult .diceValue{
    width: 100%;
    min-height: 120px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: background-image 0.5s linear;
    -moz-transition: background-image 0.5s linear;
    -ms-transition: background-image 0.5s linear;
    transition: background-image 0.5s linear;
    border:1px solid rgb(221, 223, 226);
    background-color:#E9EBEE;
}

.throwResult .diceValue.marked{
    border:1px solid #4267b2;
    background-color:white;
}




/*FOOTER*/
footer{
    background-color:#4267b2;
    color:white;
    margin-top:25px;
    min-height: 400px;
}
footer .footer-content{
    width: 80%;
    margin: 0 auto;
    padding:50px 0;
}

footer .footer-content .left{
    float: left;
    width: 49%;
    height: 200px;
}

footer .footer-content .right{
    width: 50%;
    height: 200px;
    float: left;
}

footer .footer-content:after{
    clear:both;
    display: table;
    content: "";
}